<div class="row">
    <div class="col-md-2">
        <label>Search</label>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <select class="search form-control" ng-model="search">
            <option value=""></option>
            <option ng-repeat="grocery in groceryListArray | unique:'shopdate' | orderBy:'shopdate'">{{grocery.shopdate}}</option>
        </select>
    </div>
    <!--<div class="col-md-2">
        <input type="text" class="form-control" ng-model="search" placeholder="enter search" value="">
    </div>-->
</div>
<br>
<div class="row">
    <div class="col-md-2">
        <label class="groceryTableHeaders" ng-click="groceryListSort.toggleColumn('shopdate')">Date</label>
    </div>
    <div class="col-md-2">
        <label class="groceryTableHeaders" ng-click="groceryListSort.toggleColumn('itemname')">Item</label>
    </div>
    <div class="col-md-1">
        <label class="groceryTableHeaders" ng-click="groceryListSort.toggleColumn('unitprice')">Unit Price</label>
    </div>
    <div class="col-md-1">
        <label class="groceryTableHeaders" ng-click="groceryListSort.toggleColumn('itemquantity')">Quantity</label>
    </div>
<!--
    <div class="col-md-1">
        <label>Item Total</label>
    </div>
-->
    <div class="col-md-1">
        <label>Obtained</label>
    </div>
</div>
<div class="row" ng-repeat="grocery in groceryListArray | filter:search | orderBy:groceryListSort.sortBy:groceryListSort.sortOrder">
    <div>
        <div class="col-md-2">
            {{grocery.shopdate}}
        </div>
        <div class="col-md-2">
            {{grocery.itemname}}
        </div>
        <div class="col-md-1">
            {{grocery.unitprice}}
        </div>
        <div class="col-md-1">
            {{grocery.itemquantity}}
        </div>
<!--
        <div class="col-md-1">
            {{grocery.itemtotal}}
        </div>
-->
    </div>
    <div class="col-md-1">
        <input type="checkbox" ng-model="complete">
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-info" ng-click="groceryListFunctions.editItemEntry(grocery)">Edit</button>
        <button type="button" class="btn btn-danger" ng-click="groceryListFunctions.deleteItemEntry(grocery.itemid)">Remove</button>
    </div>
</div>