<!DOCTYPE HTML>
<html>
    <head>
        <title>Grocery List</title>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
        <style>
            .groceryTableHeaders {
                cursor: pointer;
            }
        </style>
    </head>
    <body ng-app="appGrocery">
        <h1>Grocery Form</h1>
        <grocery-form></grocery-form>
        <hr>
        <h1>Grocery Table</h1>
        <grocery-table></grocery-table>
        <hr>
        <h1>Grocery Edit</h1>
        <grocery-edit></grocery-edit>
        <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
        <script type="text/javascript" src="/source_code/scripts/app.js"></script>
        <script type="text/javascript" src="/source_code/scripts/controllers/groceryCtrl.js"></script>
        <script type="text/javascript" src="/source_code/scripts/services/groceryService.js"></script>
        <script type="text/javascript" src="/source_code/scripts/directives/groceryForm.js"></script>
        <script type="text/javascript" src="/source_code/scripts/directives/groceryTable.js"></script>
        <script type="text/javascript" src="/source_code/scripts/directives/groceryEdit.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.min.js"></script>
    </body>
</html>